<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="description" content="Image hosting web app">
    <meta name="author" content="Theo Henson">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg') }}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="top">
	<div id="top-wrapper">
	    <a href="/"><img id="top-logo" src="/static/images/logo.png" alt="logo"></a>
	</div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>
