{% extends 'base.html' %}

{% block head %}
<title>photohost</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Welcome to photohost!</h1>
    <h3>An open source image hosting site.</h3>
    <form method="post" enctype="multipart/form-data">
	<span class="upload-btn-wrapper">
	    <input type="file" name="file" id="up" onChange="img_pathUrl(this);">
	    <button class="btn">Browse</button>
	</span>
	<input type="submit" class="btn" value="Upload">
    </form>
    <img style="display:none" id="preview" src="#">
</div>

{% endblock %}
